@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-fira-code);
  background-color: #020618;
}

html.font-fa {
  font-family: var(--font-pofak);
}

html,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172b;
}

::-webkit-scrollbar-thumb {
  background-color: #314158;
  border-radius: 0px;
  border: 2px solid #0f172b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #314158 #0f172b;
}
